body {
  background-color: #000; /* Ekdum black background */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  border: 2px solid #00ffcc;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 20px #00ffcc;
  background-color: #121212;
  color: white;
  font-family: sans-serif;
  animation: float 3s ease-in-out infinite; /* Ab ye chalega */
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0px); }
}

button {
  background: transparent;
  color: #00ffcc;
  border: 1px solid #00ffcc;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 15px;
}
.card h2 {
  color: #fff;
  text-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffcc;
  letter-spacing: 2px;
}
button:active {
  background-color: #00ffcc;
  color: #000;
  box-shadow: 0 0 30px #00ffcc;
  transition: 0.3s;
}

.profile-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Isse photo round hogi */
    border: 3px solid #00ffcc; /* Neon border */
    box-shadow: 0 0 20px #00ffcc; /* Neon glow */
    margin-bottom: 20px;
    object-fit: cover;
}
