body{
  margin:0;
  padding:12px;
  background:#0d0d0d;
  color:white;
  font-family:Arial;
}

h1{
  text-align:center;
  font-size:22px;
  margin-bottom:10px;
}

.toolbar{
  text-align:center;
  margin-bottom:10px;
}

button{
  margin:4px;
  padding:10px 14px;
  border:none;
  border-radius:10px;
  background:#ff0057;
  color:white;
  font-weight:bold;
}

textarea{
  width:100%;
  height:220px;
  background:#1a1a1a;
  color:#00ff88;
  border:1px solid #333;
  border-radius:10px;
  padding:10px;
  font-family:monospace;
  font-size:15px;
}

iframe{
  width:100%;
  height:250px;
  margin-top:10px;
  border:none;
  border-radius:10px;
  background:white;
}
