body{
  margin:0;
  padding:10px;
  background:#0d0d0d;
  color:white;
  font-family:Arial;
}

h1{
  text-align:center;
  font-size:22px;
}

.toolbar, .symbol-bar{
  text-align:center;
  margin:8px 0;
  position:sticky;
  top:0;
  background:#0d0d0d;
  padding:5px;
  z-index:10;
}

button{
  margin:3px;
  padding:8px 12px;
  border:none;
  border-radius:8px;
  background:#ff0057;
  color:white;
  font-weight:bold;
}

textarea{
  width:100%;
  height:220px;
  background:#1a1a1a;
  color:#00ff88;
  border:1px solid #333;
  border-radius:10px;
  padding:10px;
  font-family:monospace;
  font-size:15px;
}

iframe{
  width:100%;
  height:250px;
  margin-top:10px;
  border:none;
  border-radius:10px;
  background:white;
}
